html 
  head
    title Login! 

    body

      p #{message}
      p 
        form(method = 'post' action ='/user/login' )  
          Please Enter your name :   
          input(type='text', name='username')
          br
          Please Enter  your password : 
          input(type='password', name = 'password')
          br
          input(type='submit' name = 'submit')
          br
          If If you are a new user, please signup.
          a(href='/user/signup') Sign up
          br
          Forgotten Forgotten password? 
          a(href ='/user/recoverpass') Recover password

