html 
  head
    title Sign up! 

    body

      p #{message}
      p 
        form(method = 'post' action ='/user/signup' )  
          Please Enter your name :   
          input(type='text', name='username')
          br
          Please Enter  your password : 
          input(type='password', name = 'password')
          br
          Please Enter your Email address
          br
          input(type = 'text' name = 'email' placeholder = 'abc@xyz.com')
          br
          input(type='submit' name = 'submit')
          br
          Forgotten Forgotten password? 
          a(href ='/user/recoverpass') Recover password

